@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    max-width: 1024px;
    width: 100%;
  }
  .icon {
  stroke: hsl(210, 10%, 33%);
  fill: hsl(210, 10%, 33%);
  transition:all .4s;
}
.icon:hover{
  stroke:hsl(171, 66%, 44%);
  fill: hsl(171, 66%, 44%);
}

  